<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>
    <link
      rel="icon"
      href="https://www.weather2umbrella.com/wp-content/themes/w2u/image/svg/weather-icons/d05.svg"
    />
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <section>
      <header>
        <h4>Weather App</h4>
      </header>
      <main>
        <div id="main-header">
          <div class="name"><h2>France</h2></div>
          <div class="input">
            <input type="text" placeholder="Enter the city name (eg. London)" />
            <button>
              <img
                src="https://icon-library.com/images/svg-search-icon/svg-search-icon-9.jpg"
                alt=""
              />
            </button>
          </div>
        </div>
        <div id="temp">
          <h1>12°</h1>
          <h3>Cloudy</h3>
          <div>
            <p class="humidity">Humidity 64%</p>
            <hr />
            <p class="speed">Wind 12k/m</p>
          </div>
        </div>
      </main>
      <footer>
        <p>Copyright &copy; Created by Ashish</p>
      </footer>
    </section>
  </body>
  <script src="./script.js"></script>
</html>
