@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: white;
}

body {
  text-shadow: 1px 1px 10px #1e333a;
}

.weather-app {
  background: url("https://images.hdqwalls.com/download/mountains-minimalism-16-2560x1440.jpg")
    no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weather-app p {
  text-align: center;
  margin-bottom: 1rem;
}
